In [58]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [59]:
df = pd.read_csv("Case_PRB.csv")

df.head(10)

C:\Users\desle\AppData\Local\Temp\ipykernel_5164\3488251565.py:1: DtypeWarning: Columns (1,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Case_PRB.csv")

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,ABW,North America,Aruba,2020-03-13,2.0,2.0,NaN,0.0,0.0,NaN,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
1,ABW,North America,Aruba,2020-03-19,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
2,ABW,North America,Aruba,2020-03-20,4.0,2.0,0.286,0.0,0.0,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
3,ABW,North America,Aruba,2020-03-21,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
4,ABW,North America,Aruba,2020-03-22,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
5,ABW,North America,Aruba,2020-03-23,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
6,ABW,North America,Aruba,2020-03-24,12.0,8.0,1.429,0.0,0.0,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
7,ABW,North America,Aruba,2020-03-25,17.0,5.0,2.143,0.0,0.0,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
8,ABW,North America,Aruba,2020-03-26,19.0,2.0,2.429,0.0,0.0,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
9,ABW,North America,Aruba,2020-03-27,28.0,9.0,3.429,0.0,0.0,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN

In [60]:
df.isna().sum()

iso_code                             287
continent                            574
location                               0
date                                   0
total_cases                          636
new_cases                            859
new_cases_smoothed                  1641
total_deaths                         636
new_deaths                           859
new_deaths_smoothed                 1641
total_cases_per_million              923
new_cases_per_million                923
new_cases_smoothed_per_million      1706
total_deaths_per_million             923
new_deaths_per_million               923
new_deaths_smoothed_per_million     1706
new_tests                          31622
total_tests                        31203
total_tests_per_thousand           31203
new_tests_per_thousand             31622
new_tests_smoothed                 29251
new_tests_smoothed_per_thousand    29251
tests_per_case                     30858
positive_rate                      30398
tests_units                        28396
stringency_index                    8598
population                           287
population_density                  2559
median_age                          5408
aged_65_older                       6069
aged_70_older                       5638
gdp_per_capita                      5987
extreme_poverty                    20538
cardiovasc_death_rate               5421
diabetes_prevalence                 3833
female_smokers                     15065
male_smokers                       15506
handwashing_facilities             28889
hospital_beds_per_thousand          9735
life_expectancy                      914
human_development_index             6963
dtype: int64