In [8]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [9]:
# Read csv data into object (pandas dataframe) to work with.
original_dataframe = pd.read_csv("../Case_PRB.csv", low_memory=False)

# Sort the complete dataframe on the date column.
original_dataframe.sort_values('date')

# Show the dataframe to illustrate the available data.
original_dataframe.head(500)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,ABW,North America,Aruba,2020-03-13,2.0,2.0,NaN,0.0,0.0,NaN,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
1,ABW,North America,Aruba,2020-03-19,NaN,NaN,0.286,NaN,NaN,0.000,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
2,ABW,North America,Aruba,2020-03-20,4.0,2.0,0.286,0.0,0.0,0.000,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
3,ABW,North America,Aruba,2020-03-21,NaN,NaN,0.286,NaN,NaN,0.000,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
4,ABW,North America,Aruba,2020-03-22,NaN,NaN,0.286,NaN,NaN,0.000,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,AFG,Asia,Afghanistan,2020-10-12,39799.0,96.0,65.429,1477.0,4.0,2.143,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
496,AGO,Africa,Angola,2020-03-22,2.0,2.0,NaN,0.0,0.0,NaN,...,5819.495,NaN,276.045,3.94,NaN,NaN,26.664,NaN,61.15,0.581
497,AGO,Africa,Angola,2020-03-23,2.0,0.0,NaN,0.0,0.0,NaN,...,5819.495,NaN,276.045,3.94,NaN,NaN,26.664,NaN,61.15,0.581
498,AGO,Africa,Angola,2020-03-24,2.0,0.0,NaN,0.0,0.0,NaN,...,5819.495,NaN,276.045,3.94,NaN,NaN,26.664,NaN,61.15,0.581
499,AGO,Africa,Angola,2020-03-25,2.0,0.0,NaN,0.0,0.0,NaN,...,5819.495,NaN,276.045,3.94,NaN,NaN,26.664,NaN,61.15,0.581

In [10]:
# All the columns that are accessible in the dataframe.
original_dataframe.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'tests_per_case', 'positive_rate', 'tests_units', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

In [11]:
# Set all the continuous values in one array.
original_dataframe_cont = original_dataframe[['date', 'total_cases', 'new_cases', 'new_cases_smoothed', 'total_deaths', 'new_deaths', 'new_deaths_smoothed', 'total_cases_per_million', 'new_cases_per_million', 'new_cases_smoothed_per_million', 'total_deaths_per_million', 'new_deaths_per_million', 'new_deaths_smoothed_per_million', 'new_tests', 'total_tests', 'total_tests_per_thousand', 'new_tests_per_thousand', 'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'tests_per_case', 'positive_rate', 'tests_units', 'stringency_index', 'population', 'population_density', 'median_age', 'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers', 'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand', 'life_expectancy', 'human_development_index']]

# Set all the string values in one array.
original_dataframe_cat = original_dataframe[['iso_code', 'continent', 'location']]

In [12]:
# Categorize the string values with one hot encoding.
categorized_dataframe = pd.get_dummies(original_dataframe, columns = original_dataframe_cat.columns)

# Show the result of one hot encoding. It spread the values from one column to multiple flag columns.
categorized_dataframe.filter(regex='^iso_code_',axis=1).head()
categorized_dataframe.filter(regex='^continent_',axis=1).head()
categorized_dataframe.filter(regex='^location_',axis=1).head()

,location_Afghanistan,location_Albania,location_Algeria,location_Andorra,location_Angola,location_Anguilla,location_Antigua and Barbuda,location_Argentina,location_Armenia,location_Aruba,...,location_Uruguay,location_Uzbekistan,location_Vatican,location_Venezuela,location_Vietnam,location_Western Sahara,location_World,location_Yemen,location_Zambia,location_Zimbabwe
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [13]:
# Combine the columns female_smokers and male_smokers together in the column smokers.
categorized_dataframe["smokers"] = categorized_dataframe[["female_smokers", "male_smokers"]].sum(axis=1)

# Remove the missing values before we train the model. Because we don't want them in our model.
categorized_dataframe.dropna(subset=['diabetes_prevalence', 'total_deaths'], inplace=True)

# Showing that all the missing values are removed.
categorized_dataframe[['diabetes_prevalence', 'total_deaths']].value_counts(dropna=False)

diabetes_prevalence  total_deaths
11.62                0.0             646
4.00                 0.0             480
3.94                 0.0             294
7.11                 0.0             283
2.42                 0.0             278
                                    ...
7.11                 309.0             1
                     313.0             1
                     316.0             1
4.78                 6820.0            1
7.17                 28499.0           1
Length: 17095, dtype: int64

In [14]:
# Get the independent data to predict with.
X = categorized_dataframe[['diabetes_prevalence', 'smokers']]

# Get the dependent data to predict with.
Y = categorized_dataframe[['total_deaths']]

# Split the data into test and training data.
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.25, random_state = 0)

# Set the forest regressor object.
reg = RandomForestRegressor(random_state=0)

# Build the tree from the training set.
reg.fit(x_train, y_train.values.ravel())

# Get the predictions based on the test data.
prediction = reg.predict(x_test)

# Get the accuracy of the model.
r2_score(y_test, prediction)

0.4954262167149399